# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de sistema
.DS_Store
Thumbs.db

# Editores / IDE
.vscode/
.idea/

# OneDrive (archivos temporales de sincronización)
~$*
*.tmp
